@use "../1-utilities/" as *;

body {
  	margin: 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'BeniBold', sans-serif;
	}

	h1 {
		font-size: 100px;
	}

	h2 {
		font-size: 80px;
	}

	h3 {
		font-size: 60px;
	}

	h4 {
		font-size: 30px;
	}

	h5 {
		font-size: 28px;
	}

	h6 {
		font-size: 30px;
	}

	p,
	a,
	li {
		font-family: 'karlaRegular', sans-serif;
		font-size: 16px;
		color: $white-base;
	}

	.container {
		display: flex;
		align-items: center;
		height: 100%;
		width: auto;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;

		@media (min-width: 1400px) {
			max-width: 1296px;
		}

		@media (min-width: 1200px) {
			max-width: 1170px;
		}
	}

	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		clip: rect(0, 0, 0, 0);
		overflow: hidden;
	}
}
