// BeniBold Font type
@font-face {
  font-family: 'BeniBold';
  src: url('../fonts/benibold/BeniBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Karla Regular Font type
@font-face {
  font-family: 'KarlaRegular';
  src: url('../fonts/karla/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Karla Bold Font type
@font-face {
  font-family: 'KarlaBold';
  src: url('../fonts/karla/Karla-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Karla Italic Font type
@font-face {
  font-family: 'KarlaItalic';
  src: url('../fonts/karla/Karla-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
